openapi: 3.0.0
info:
  title: Monobank Open API (v2303)
  version: 2303
  description: API for Accessing Account Statements and Status
servers:
  - url: https://api.monobank.ua
paths:
  /bank/currency:
    get:
      summary: Exchange Rates
      operationId: getExchangeRates
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    currencyCodeA:
                      type: integer
                    currencyCodeB:
                      type: integer
                    date:
                      type: integer
                    rateSell:
                      type: number
                    rateBuy:
                      type: number
                    rateCross:
                      type: number

  /personal/client-info:
    get:
      summary: Client Info
      operationId: getClientInfo
      security:
        - ApiKeyAuth: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  clientId:
                    type: string
                  name:
                    type: string
                  webHookUrl:
                    type: string
                  permissions:
                    type: string
                  accounts:
                    type: array
                    items:
                      type: object
                  jars:
                    type: array
                    items:
                      type: object

  /personal/webhook:
    post:
      summary: Transactions Webhook Subscription
      operationId: setWebhook
      security:
        - ApiKeyAuth: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                webHookUrl:
                  type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string

  /personal/statement/{account}/{from}/{to}:
    get:
      summary: Statement
      operationId: getStatement
      security:
        - ApiKeyAuth: []
      parameters:
        - name: account
          in: path
          required: true
          schema:
            type: string
        - name: from
          in: path
          required: true
          schema:
            type: integer
        - name: to
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                    time:
                      type: integer
                    description:
                      type: string
                    mcc:
                      type: integer
                    originalMcc:
                      type: integer
                    amount:
                      type: integer
                    operationAmount:
                      type: integer
                    currencyCode:
                      type: integer
                    commissionRate:
                      type: integer
                    cashbackAmount:
                      type: integer
                    balance:
                      type: integer
                    hold:
                      type: boolean
                    receiptId:
                      type: string

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-Token